<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
            http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
            http://www.springframework.org/schema/util
            http://www.springframework.org/schema/util/spring-util-4.2.xsd ">

	<bean id="shiroFilter"
		class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
		<property name="securityManager" ref="securityManager" />
		<!-- update by lgp login.html => login.jsp -->
		<!-- <property name="loginUrl" value="login.jsp" /> <property name="unauthorizedUrl" 
			value="403.htm" /> -->
		<property name="filterChainDefinitions">
			<value>
				/login.action = anon
				/register.jsp = anon
				/getCode.action = anon
				/validateCode.action = anon
				/validateEmail.action = anon
				/subLogin.action = anon
				/* = authc
			</value>
		</property>
		<!-- <property name="filters"> <util:map> <entry key="rolesFilter" value-ref="rolesFilter" 
			/> </util:map> </property> -->
	</bean>

	<!-- <bean id="rolesFilter" class="com.filter.RolesFilter"> </bean> -->

	<bean id="securityManager"
		class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
		<property name="realm" ref="loginRealm" />
		<property name="rememberMeManager" ref="rememberMeManager" />
		<!-- <property name="sessionManager" ref="sessionManager" /> <property 
			name="cacheManager" ref="cacheManager" />  -->
	</bean>

	<bean id="loginRealm" class="com.realm.LoginRealm">
		<property name="credentialsMatcher">
			<bean id="credentialsMatcher"
				class="org.apache.shiro.authc.credential.HashedCredentialsMatcher">
				<property name="hashAlgorithmName" value="md5" />
			</bean>
		</property>
	</bean>

	<!-- <bean id="sessionManager" class="org.apache.shiro.web.session.mgt.DefaultWebSessionManager"> 
		<property name="sessionDAO"> <bean id="sessionDAO" class="com.session.RedisSessionDao"></bean> 
		</property> </bean> <bean id="cacheManager" class="com.cache.RedisCacheManager"></bean> 
		<bean id="rememberMeManager" class="import org.apache.shiro.web.mgt.CookieRememberMeManager"> 
		<property name="cookie"> <bean id="cookie" class="org.apache.shiro.web.servlet.SimpleCookie"> 
		<constructor-arg value="rememberMe" /> <property name="maxAge" value="60*60*365" 
		/> </bean> </property> </bean> -->
	<bean id="sessionIdCookie"
		class="org.apache.shiro.web.servlet.SimpleCookie">
		<constructor-arg value="sid" />
		<property name="httpOnly" value="true" />
		<property name="maxAge" value="-1" />
	</bean>

	<bean id="rememberMeCookie" class="org.apache.shiro.web.servlet.SimpleCookie">
		<constructor-arg value="rememberMe" />
		<property name="httpOnly" value="true" />
		<property name="maxAge" value="2592000" /><!-- 30天 -->
	</bean>

	<!-- rememberMe管理器 -->
	<bean id="rememberMeManager" class="org.apache.shiro.web.mgt.CookieRememberMeManager">
		<property name="cipherKey" value="\#{T(org.apache.shiro.codec.Base64).decode('4AvVhmFLUs0KTA3Kprsdag==')}" />
		<property name="cookie" ref="rememberMeCookie" />
	</bean>
	
	<bean id="formAuthenticationFilter" class="org.apache.shiro.web.filter.authc.FormAuthenticationFilter">
    	<property name="rememberMeParam" value="rememberMe"/>
	</bean>
</beans>  