<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
            http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
            http://www.springframework.org/schema/util
            http://www.springframework.org/schema/util/spring-util-4.2.xsd ">

	<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
		<property name="securityManager" ref="securityManager" />
		<!-- update by lgp login.html => login.jsp -->
		<!-- <property name="loginUrl" value="login.jsp" /> <property name="unauthorizedUrl" 
			value="403.htm" /> -->
		<property name="filterChainDefinitions">
			<value>
				/login = aauthc
				/sellerLogin.jsp = anon
				/register.jsp = anon
				/getCode.action = anon
				/validateCode.action = anon
				/validateEmail.action = anon
				/subLogin.action = anon
				/js/** = anon
				/img/** = anon
				/css/** = anon
				/dist/** = anon
				/kindeditor-master/** = anon
				/** = authc
			</value>
		</property>
		<property name="filters"> 
			<util:map> 
				<entry key="aauthc" value-ref="adminFormAuthenticationFilter" /> 
				<entry key="sauthc" value-ref="sellerFormAuthenticationFilter"/>
				<entry key="cauthc" value-ref="customerFormAuthenticationFilter"/>
			</util:map> 
		</property>
	</bean>
	
	<bean id="loginRealm" class="com.realm.LoginRealm"/>
	
	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
		<property name="realm" ref="loginRealm" />
		<property name="rememberMeManager" ref="rememberMeManager" />
		<!-- <property name="sessionManager" ref="sessionManager" /> <property 
			name="cacheManager" ref="cacheManager" />  -->
	</bean>

	<bean id="sessionIdCookie" class="org.apache.shiro.web.servlet.SimpleCookie">
		<constructor-arg value="sid" />
		<property name="httpOnly" value="true" />
		<property name="maxAge" value="-1" />
	</bean>

	<bean id="rememberMeCookie" class="org.apache.shiro.web.servlet.SimpleCookie">
		<constructor-arg value="rememberMe" />
		<property name="httpOnly" value="true" />
		<property name="maxAge" value="2592000" /><!-- 30天 -->
	</bean>

	<!-- rememberMe管理器 -->
	<bean id="rememberMeManager" class="org.apache.shiro.web.mgt.CookieRememberMeManager">
		<property name="cipherKey" value="\#{T(org.apache.shiro.codec.Base64).decode('4AvVhmFLUs0KTA3Kprsdag==')}" />
		<property name="cookie" ref="rememberMeCookie" />
	</bean>
	
	<!-- 卖家表单验证 -->
	<bean id="sellerFormAuthenticationFilter" class="com.filter.SellerFormAuthenticationFilter">
    	<property name="usernameParam" value="userName"/>
    	<property name="passwordParam" value="password"/>
    	<property name="rememberMeParam" value="rememberMe"/>
    	<property name="loginUrl" value="/seller/login.jsp"/>
	</bean>
	
	<!-- 买家表单验证 -->
	<bean id="customerFormAuthenticationFilter" class="com.filter.CustomerFormAuthenticationFilter">
    	<property name="usernameParam" value="userName"/>
    	<property name="passwordParam" value="password"/>
    	<property name="rememberMeParam" value="rememberMe"/>
    	<property name="loginUrl" value="/cutomer/login.jsp"/>
	</bean>
	
	<!-- 管理员表单验证 -->
	<bean id="adminFormAuthenticationFilter" class="com.filter.AdminFormAuthenticationFilter">
    	<property name="usernameParam" value="userName"/>
    	<property name="passwordParam" value="password"/>
    	<property name="rememberMeParam" value="rememberMe"/>
    	<property name="loginUrl" value="/admin/login.jsp"/>
	</bean>
</beans>  